In [1]:
#import libraries

import requests
import pandas as pd
import bs4
from bs4 import BeautifulSoup
import json
import csv
import numpy as np

In [2]:
website = 'https://www.zameen.com/Homes/Multan-15-1.html?area_min=209.03184000000002&area_max=1045.1592'
get_response = requests.get(website)
get_response.status_code

200

In [3]:
soup = BeautifulSoup(get_response.content, 'html.parser')

In [4]:
# getting the main div where all list items are stored
results = soup.find_all('li', {'role' : 'article'})
len(results)

25

In [5]:
#finding agency name
#results[0].find('span', {'class':'companyName'}).get_text().strip()

In [6]:
#finding contact name
#contactName = result_item[0]['hits'][0]['contactName']
#contactName

In [7]:
#finding phone no. of agency
#phone = result_item[0]['hits'][0]['phoneNumber']['mobile']
#phone

In [8]:
#finding location of house
results[0].find('div', {'aria-label':'Location'}).get_text()

'Shalimar Colony, Multan'

In [9]:
#finding area of house
results[0].find('span', {'aria-label':'Area'}).get_text()

'1 Kanal'

In [10]:
#finding price of house
results[0].find('span', {'aria-label':'Price'}).get_text()

'4 Crore'

In [11]:
#finding no. of rooms of house
results[0].find('span', {'aria-label':'Beds'}).get_text()

'6'

In [12]:
#finding no. of baths of house
results[0].find('span', {'aria-label':'Baths'}).get_text()

'6'

In [13]:
#finding title 
results[0].find('h2', {'aria-label':'Title'}).get_text()

'1 Kanal Newly Constructed House For Sale In Shalimar Colony Near Mall Of Multan Bosan Road'

In [14]:
agency = []
contact_name = []
phone = []
alternate_cell = []

for i in range(1,40):
    
    
    website='https://www.zameen.com/Homes/Multan-15-' +str(i)+ '.html?area_min=209.03184000000002&area_max=1045.1592'
    
    # request to website
    response = requests.get(website)
   

    #soup varibale
    soup = BeautifulSoup(response.content, 'html.parser')
    
    
    
    
    
    
    
    #extracting infromation of agency, phone no. and contact name, these information is in call button inside script tags



    # 1- get script tag at 5th position that contains required information
    get_script_tag = soup.find_all('script')[5].get_text()


    # 2- finding tag with 'window.state = ' and using join to convert list into string
    if 'window.state = ' in get_script_tag:
        get_script_tag = ''.join([get_script_tag])
    
    
    #3 - parsing json
    get_script_tag = get_script_tag.split('window.state = ')[-1].split('}};')[0] + '}}'


    #4- load json
    get_json = json.loads(get_script_tag)


    #5- print json
    #print(json.dumps(get_json, indent=2))
    
    
    get_json = get_json['algolia']['content']['hits']
    
    
    #writing a json file 


    temp_file = json.dumps(get_json)
    with open ("json_data.json", "w") as file:
        file.write(temp_file)
        
        
    #reading json file


    with open('json_data.json', 'r') as json_file:
        json_load = json.load(json_file)

        #print(json_load)
    
    
    for c in range(1,25):
        try:
            agency.append(json_load[c]['agency']['name'])
        except:
            agency.append('')
            
        try:
            alternate_cell.append(json_load[c]['phoneNumber']['phone'])
        except:
            alternate_cell.append('')
            
            
        try:
            phone.append(json_load[c]['phoneNumber']['mobile'])
        except:
            phone.append('')
            
        try:
            contact_name.append(json_load[c]['contactName'])
        except:
            contact_name.append('')

In [15]:
# Save data in python data_frame
df1 = pd.DataFrame({'Agency':agency,  'Contact_Name':contact_name, 'Phone':phone, 'Alternate_cell_no':alternate_cell})
df1

,Agency,Contact_Name,Phone,Alternate_cell_no
0,The Professionals Real Estate Consultant,Umair Naeem,+923340606261,+923340606261
1,Jinnah Associates,M. Amir,+923106150657,+923023765471
2,Perfect Idea Real Estate Consultancy,Shahid Ali Sindhu,+923084670744,+923084670744
3,Perfect Idea Real Estate Consultancy,Shahid Ali Sindhu,+923084670744,+923084670744
4,Chakar E Azam Rind Real Estate & Associates,Mir Zahid Khan Rind,+923006338232,
...,...,...,...,...
931,,Sail Abbas,+923334481714,+923364481714
932,,M. Zeeshan Sajid,+923230486403,
933,,Haider Sultan,+923003303730,
934,,hassan ashraf,+923366522223,+923316522223
935,,Aun Hiraj,+923217367770,

In [16]:
title = []
loc = []
price = []
beds = []
baths = []
area = []


for i in range(1,40):
    
    
    website='https://www.zameen.com/Homes/Multan-15-' +str(i)+ '.html?area_min=209.03184000000002&area_max=1045.1592'
    
     # request to website
    response = requests.get(website)
   

    #soup varibale
    soup = BeautifulSoup(response.content, 'html.parser')
    
    results = soup.find_all('li', {'role' : 'article'})

    for result in results:
    
        # title
        try:
            title.append(result.find('h2', {'aria-label':'Title'}).get_text())
        except:
            title.append('')
    
        # location
        try:
            loc.append(result.find('div', {'aria-label':'Location'}).get_text())
        except:
            loc.append('')
        
        #area
        try:
            area.append(result.find('span', {'aria-label':'Area'}).get_text())
        except:
            area.append('')
    
        #price
        try:
            price.append(result.find('span', {'aria-label':'Price'}).get_text())
        except:
            price.append('')
        
        #beds
        try:
            beds.append(result.find('span', {'aria-label':'Beds'}).get_text())
        except:
            beds.append('')
    
        #baths
        try:
            baths.append(result.find('span', {'aria-label':'Baths'}).get_text())
        except:
            baths.append('')

In [41]:
# Save data in python data_frame

df2 = pd.DataFrame({'Title':title, 'Location':loc, 'Area':area, 'Price':price, 'Beds':beds, 'Baths':baths})
df2

,Title,Location,Area,Price,Beds,Baths
0,1 Kanal Newly Constructed House For Sale In Sh...,"Shalimar Colony, Multan",1 Kanal,4 Crore,6,6
1,10 Marla Furnishd House For Sale Near Toyota S...,"Mall OF Multan, Bosan Road",10 Marla,1.5 Crore,4,4
2,10 Marla Brand New House For Sale,"Wapda Town Phase 2, Wapda Town",10 Marla,2.85 Crore,5,6
3,Reserve A Centrally Located House In Model Tow...,"Model Town - Block A, Model Town",1 Kanal,5 Crore,6,7
4,DHA MULTAN IT IS BEST TIME TO PURCHASE SPECIAL...,"DHA Phase 1 Sector M - Block 1, DHA Phase 1 - ...",1 Kanal,4 Crore,6,7
...,...,...,...,...,...,...
970,Newly Constructed House Sale,"Qasim Bela, Multan",1 Kanal,2.25 Crore,,
971,Direct Owner Brand New 12 Marla Park Facing Dh...,"DHA Villas, DHA Defence",12 Marla,2.5 Crore,5,6
972,House Sized 9000 Square Feet Available In Pak ...,"Pak Arab Fertilizer Housing Colony, Multan",2 Kanal,6 Crore,10,8
973,House Sized 2700 Square Feet In Shershah,"Shershah, Multan",12 Marla,1.7 Crore,4,4
974,11 Marla House For Sale In Zakariya Town,"Zakariya Town, Multan",11 Marla,1.9 Crore,5,6

In [42]:
# concatinate two data frames

df3 = pd.concat([df2,df1], ignore_index=True, axis=1)
df3.columns = [ 'Title', 'Location', 'Area', 'Price', 'Beds', 'Baths', 'Agency', 'Contact_Name', 'Phone', 'Alternate_cell_no',]
df3

,Title,Location,Area,Price,Beds,Baths,Agency,Contact_Name,Phone,Alternate_cell_no
0,1 Kanal Newly Constructed House For Sale In Sh...,"Shalimar Colony, Multan",1 Kanal,4 Crore,6,6,The Professionals Real Estate Consultant,Umair Naeem,+923340606261,+923340606261
1,10 Marla Furnishd House For Sale Near Toyota S...,"Mall OF Multan, Bosan Road",10 Marla,1.5 Crore,4,4,Jinnah Associates,M. Amir,+923106150657,+923023765471
2,10 Marla Brand New House For Sale,"Wapda Town Phase 2, Wapda Town",10 Marla,2.85 Crore,5,6,Perfect Idea Real Estate Consultancy,Shahid Ali Sindhu,+923084670744,+923084670744
3,Reserve A Centrally Located House In Model Tow...,"Model Town - Block A, Model Town",1 Kanal,5 Crore,6,7,Perfect Idea Real Estate Consultancy,Shahid Ali Sindhu,+923084670744,+923084670744
4,DHA MULTAN IT IS BEST TIME TO PURCHASE SPECIAL...,"DHA Phase 1 Sector M - Block 1, DHA Phase 1 - ...",1 Kanal,4 Crore,6,7,Chakar E Azam Rind Real Estate & Associates,Mir Zahid Khan Rind,+923006338232,
...,...,...,...,...,...,...,...,...,...,...
970,Newly Constructed House Sale,"Qasim Bela, Multan",1 Kanal,2.25 Crore,,,NaN,NaN,NaN,NaN
971,Direct Owner Brand New 12 Marla Park Facing Dh...,"DHA Villas, DHA Defence",12 Marla,2.5 Crore,5,6,NaN,NaN,NaN,NaN
972,House Sized 9000 Square Feet Available In Pak ...,"Pak Arab Fertilizer Housing Colony, Multan",2 Kanal,6 Crore,10,8,NaN,NaN,NaN,NaN
973,House Sized 2700 Square Feet In Shershah,"Shershah, Multan",12 Marla,1.7 Crore,4,4,NaN,NaN,NaN,NaN
974,11 Marla House For Sale In Zakariya Town,"Zakariya Town, Multan",11 Marla,1.9 Crore,5,6,NaN,NaN,NaN,NaN

In [44]:
#replacing all empty cells with NaN
df3 = df3.replace('', np.nan)

In [46]:
# convert data from python data_frame to csv file


#df3.to_csv('Zameen.csv', index=False)